:host { display: block; }

.leaderboard-card {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: .75rem;
  padding-bottom: .5rem;
}

.title {
  margin: .25rem 0 .5rem;
  text-align: center;
}

.table-container {
  max-height: 500px;
  overflow-y: auto;
  position: relative;
}

.leaderboard-table { width: 100%; }

.num {
  // text-align: right;
  font-variant-numeric: tabular-nums;
}

th.mat-header-cell { font-weight: 600; }
.empty { text-align: center; opacity: .7; }
