mat-card {
  max-width: 80vw;
  margin-inline: auto;
  background-color: transparent;
}

.uploader .header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 0;
  font-size: 1.25rem;
}

.hint {
  margin: 0.5rem 0 0;
  opacity: 0.8;
}
